@using Shared.Constants
@model Shared.Entities.Consignment

@{
    ViewData["Title"] = "Lieferungsdetails - " + Model.VendorConsignmentCode;
}

<form method="post" asp-controller="Consignment" asp-action="CancelConsignment" asp-route-id="@Model.Id">

    <div class="container mt-4">
        <h1>Lieferungsdetails</h1>
        
                    <table class="table table-hover">
                        <thead>
                        
                        <tr>
                            <th>Lieferungscode</th>
                            <th>Versanddienstl.</th>
                            <th>Versanddatum</th>
                            <th>Status</th>
                            <th>Trackinglink</th>
                            <th>Bestellcode</th>
                        </tr>
                        </thead>

                        <tbody>
                        
                        <tr>
                            <td>@Model.VendorConsignmentCode</td>
                            <td>@Model.Carrier</td>
                            <td>@Model.ShippingDate.ToString("dd.MM.yyyy")</td>
                            <td>@Model.Status</td>
                            <td><a href="@Model.TrackingLink" target="_blank">@Model.TrackingId</a></td>
                            <td>@Model.OrderCode</td>

                        </tr>
                        </tbody>

                    </table>
                    
         
        
        <h2>Lieferadresse</h2>
            <table class="table table-hover">
                @{
                    var shippingAddress = Model.ShippingAddress;
                }
                
                <thead>
                <tr>
                    <th>Typ</th>
                    <th>Name</th>
                    <th>Straße</th>
                    <th>Postleitzahl</th>
                    <th>Stadt</th>
                    <th>Ländercode</th>
                    @if (shippingAddress.Type.Equals(SharedStatus.Packstation))
                    {
                        <th>Packstationsnr.</th>
                        <th>Postnr.</th>
        
                    }
                    @if (shippingAddress.Type.Equals(SharedStatus.PostOffice))
                    {
                        <th>Filialnr.</th>
                    }
                </tr>
                </thead>
                <tbody>
        
                
                <tr>
                    <td>@shippingAddress.Type</td>
                    <td>@shippingAddress.FirstName @shippingAddress.LastName</td>
                    <td>@shippingAddress.StreetName @shippingAddress.StreetNumber</td>
                    <td>@shippingAddress.PostalCode</td>
                    <td>@shippingAddress.Town</td>
                    <td>@shippingAddress.CountryIsoCode</td>
                    @if (shippingAddress.Type.Equals(SharedStatus.Packstation))
                       {
                    <td>@shippingAddress.PackstationNumber</td>
                    <td>@shippingAddress.PostNumber</td>
                    
                       }
                    
                    @if (shippingAddress.Type.Equals(SharedStatus.PostOffice))
                                {
                    <td>@shippingAddress.PostOfficeNumber</td>
                                }
                </tr>
                
                </tbody>
            </table>

        <h2>Artikel in dieser Lieferung</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Artikelnummer</th>
                <th>Produktname</th>
                <th>Menge</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var entry in Model.ConsignmentEntries)
            {
                <tr>
                    <td>@entry.OrderEntry.VendorProductCode</td>
                    <td>@entry.OrderEntry.ProductName</td>
                    <td>@entry.Quantity</td>
                </tr>
            }
            </tbody>
        </table>
        
            <button type="submit" class="btn btn-warning" onclick="return confirmCancellationCreation();">Stornieren</button>

    </div>
        
        
        
</form>

<script>
    function confirmCancellationCreation() {
            return confirm('Sind Sie sicher, dass Sie die Lieferung stornieren möchten?');
    }
</script>
